body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  margin-left: 10px;
  margin-top: 10px;
  min-width: 400px;
}

input {
  border: 1px solid #5f9341;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 4px;
}

#input-btn,
#tab-btn {
  background-color: #5f9341;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  font-weight: bold;
}

#delete-btn {
  background-color: #fff;
  color: #5f9341;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  font-weight: bold;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

li {
  margin-top: 5px;
}

li a:link {
  color: #5f9341;
}
li a:hover {
  color: rgb(247, 159, 64);
}
